h1{
  position: absolute;
  left: 50%;
  top: 30%;
  color:blue;
  background-color: white;
}
body {
    background:white;
  }
  .love1 ,.love2, .love3 {
    display: inline-block;
    position: relative;
    top: 0%;
    left: 30%;
    width: 100px;
    height: 89px;
    margin: 15% auto;
    background: url('../spritesheets/corazon1.png') left top;

  }
  
  .dinosaurioCorrer {
    position: absolute;
    top: 400px;
    left: 40%;
    transform: translate(-300px,0%);
    width: 685px;
    height: 474px;
    background: url('../spritesheets/Correr.png') left top;
    animation: play .8s steps(8) infinite;
  }
  
  
  @keyframes play {
      100% { background-position: -5400px; }
  }
   .dinosaurioInicio {
    position: absolute;
    top: 38%;
    left: 40%;
    /* transform: translate(-50%, -50%); */
    width: 685px;
    height: 474px;
    margin: 15% auto;
    background: url('../spritesheets/Inicio.png') left top;
    animation: inicio .8s steps(8) infinite;
  }
  
  
  @keyframes inicio {
      100% { background-position: -6820px; }
  } 

  .dinosaurioMuerto {
    position: absolute;
    top: 38%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 685px;
    height: 474px;
    margin: 15% auto;
    background: url('../spritesheets/Muerto.png') left top;
    animation: muerto .8s steps(8);
  }
  
  
  @keyframes muerto {
      100% { background-position: -5456px; }
  } 
  .dinosaurioSaltar{
    position: absolute;
    top: 18%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 685px;
    height: 474px;
    margin: 15% auto;
    background: url('../spritesheets/Saltar.png') left top;
    animation: saltar .8s steps(10) infinite;
  }
    @keyframes saltar {
      100% { background-position: -6820px; }
  } 
  
  .dinosaurioColisionado{
    position: absolute;
    top: 38%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 685px;
    height: 474px;
    margin: 15% auto;
    background: url('../spritesheets/Colisionado.png') left top;
    animation: colision .8s steps(2) infinite;
  }
    @keyframes colision {
      100% { background-position: -1364px; }
  } 


  .fondo1{
    position: absolute;
    top: 60%;
    left: 100%;
    transform: translate(-100%, -70%);
    width: 1765px;
    height: 951px;
    background: url('../spritesheets/Fondo/fondo5.png') left top;
    animation: fondo 2s steps(30) infinite;
  }
  
  
  @keyframes fondo {
      100% { background-position: -1765px; }
  }
   #roca{
    position: absolute;
    top: 650px;
    left: 1800px;
    /* transform: translate(-600px,0); */
    width: 300px;
    height: 200px;
    background: url('../spritesheets/roca.png') left top;
    

  }

  #puntaje{
    position: relative;
    top: 40%;
    left: 50%;
    color: red;

  }
    /* @keyframes roca {
    100% { background-position: -800px; }
}     */

/* .vida{
    position: absolute;
    top: 80%;
    left: 110%;
    transform: translate(-120%, -70%);
    width: 300px;
    height: 160px;
    background: url('../spritesheets/vidas.png') left top;
    animation: vida 1.50s steps(7) infinite;

  }
  @keyframes vida {
    100% { background-position: -670px; }
} */




